<div class="">
  <h1 class="">Sobre mí 👨‍💻</h1>
  <div class="">
    <p>
      Ingeniero Civil en Informática especializado en Desarrollo de Software,
      <span class="">apasionado</span> por la tecnología, el análisis de datos y
      la optimización de procesos.
    </p>
    <p>
      Experiencia en análisis de sistemas e implementación de IA para
      procesamiento de documentos. Entre mis logros destacan el desarrollo de
      software para cámaras de seguridad, la <span class=""
        >creación de videojuegos educativos</span
      > y la automatización de procesos de RRHH en Cencosud.
    </p>
    <p>
      Competente en <span class=""
        >Python, C#, JavaScript, PHP y herramientas como Power BI y MySQL.</span
      > Actualmente enfocado en React y análisis de datos.
    </p>
    <p>
      Más allá de la tecnología, soy un <span class="">apasionado</span>
      del heavy metal, los videojuegos y el estudio de la demonología. Mi <span
        class="">mentalidad analítica y curiosidad</span
      > me impulsan a abordar desafíos complejos con soluciones innovadoras.
    </p>
  </div>
</div>
