---
import Header from "./Header.astro";
import About from "./About.astro";
import Experiencie from "./Experiencie.astro";
import Education from "./Education.astro";
import Skills from "./Skills.astro";
import Footer from "./Footer.astro";
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-4">
  <div
    class="bg-card-bg rounded-2xl inset-shadow-sm inset-shadow-hover-goldy col-span-1 sm:col-span-3"
  >
    <Header />
  </div>

  <div
    class="col-span-1 row-span-1 sm:col-span-1 sm:row-span-2 rounded-2xl bg-card-bg"
  >
    <About />
  </div>

  <div class="col-span-1 rounded-2xl sm:overflow-auto sm:h-100 bg-card-bg">
    <Education />
  </div>

  <div
    class="col-span-1 sm:col-span-2 rounded-2xl sm:overflow-auto sm:h-100 bg-card-bg"
  >
    <Experiencie />
  </div>
  <div class="col-span-1 sm:col-span-3 rounded-2xl overflow-auto bg-card-bg">
    <Skills />
  </div>
  <div class="col-span-1 sm:col-span-1 rounded-2xl overflow-auto bg-card-bg">
    <Footer />
  </div>
</div>
