---
import { Icon } from "astro-icon/components";
---

<div class="p-2">
  <p class="font-bold text-2xl text-detail-purple pb-2">Contactame:</p>
  <div class="flex
    flex-wrap
    content-around
    gap-2
    my-4">
    <!-- GitHub -->
    <div
      class="rounded outline-btn-blue border-b-2 border-r-2 border-btn-blue outline p-1 text-sm w-auto flex items-center gap-2"
    >
      <Icon name="ri:github-fill" class="w-8 h-8" />
      <a href="https://github.com/ccarisastete">GitHub</a>
    </div>
    <!-- LinkedIn -->
    <div
      class="rounded outline-btn-blue border-b-2 border-r-2 border-btn-blue outline p-1 text-sm w-auto flex items-center gap-2"
    >
      <Icon name="ri:linkedin-box-fill" class="w-8 h-8" />
      <a href="https://www.linkedin.com/in/cesarcaris/">LinkedIn</a>
    </div>
    <!-- Instagram -->
    <div
      class="rounded outline-btn-blue border-b-2 border-r-2 border-btn-blue outline p-1 text-sm w-auto flex items-center gap-2"
    >
      <Icon name="mdi:instagram" class="w-8 h-8" />
      <a href="https://www.instagram.com/carre.house/">Instagram</a>
    </div>
    <!-- Instagram -->
    <div
      class="rounded outline-btn-blue border-b-2 border-r-2 border-btn-blue outline p-1 text-sm w-auto flex items-center gap-2"
    >
      <Icon name="mdi:mail" class="w-8 h-8" />
      <a href="mailto:cesarantonioastete98@gmail.com">Correo Electronico</a>
    </div>
  </div>
</div>
