---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/avatar.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Portafolio</title>
  </head>
  <body class="p-2 max-w-5xl bg-background-gray text-text-gray mx-auto">
    <slot />
    <p class="flex items-center justify-center">
      Hecho con ❤️ por <span class="text-btn-blue font-bold pl-2"
        >César Caris</span
      >
    </p>
  </body>
</html>

<style></style>
